 /*Space out content a bit */ 
 body {
   padding-top: 20px;
   padding-bottom: 20px;
 }
 /* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .marketing, .footer {
   padding-left: 15px;
   padding-right: 15px;
 }
 /* Custom page header */
 .header {
   border-bottom: 1px solid #e5e5e5;
 }
 /* Make the masthead heading the same height as the navigation */
 .header h3 {
   margin-top: 0;
   margin-bottom: 0;
   line-height: 40px;
   padding-bottom: 19px;
 }
 /* Custom page footer */
 .footer {
   padding-top: 19px;
   color: #777;
   border-top: 1px solid #e5e5e5;
 }
 /* Customize container */
 @media (min-width: 768px) {
   .container {
     max-width: 730px;
   }
 }

.container {
  background-color: rgba(255,255,255,.9);
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 15px 60px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 15px 60px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 15px 60px 0px rgba(0,0,0,0.75);
}

 .container-narrow > hr {
   margin: 30px 0;
 }
 /* Main marketing message and sign up button */
 .jumbotron {
   text-align: center;
   border-bottom: 1px solid #e5e5e5;
 }
 .jumbotron .btn {
   font-size: 21px;
   padding: 14px 24px;
 }
 /* Supporting marketing content */
 .marketing {
   margin: 40px 0;
 }
 .marketing p + h4 {
   margin-top: 28px;
 }
 /* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
   /* Remove the padding we set earlier */
   .header, .marketing, .footer {
     padding-left: 0;
     padding-right: 0;
   }
   /* Space out the masthead */
   .header {
     margin-bottom: 30px;
   }
   /* Remove the bottom border on the jumbotron for visual effect */
   .jumbotron {
     border-bottom: 0;
   }
 }
 /*BS >>>*/
 .page {
   /*background: url(../images/tile.png) 0 0 transparent repeat;*/
   background: #77c9e4;
   background: -moz-linear-gradient(-45deg,  #77c9e4 0%, #b8e986 100%);
   background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#77c9e4), color-stop(100%,#b8e986));
   background: -webkit-linear-gradient(-45deg,  #77c9e4 0%,#b8e986 100%);
   background: -o-linear-gradient(-45deg,  #77c9e4 0%,#b8e986 100%);
   background: -ms-linear-gradient(-45deg,  #77c9e4 0%,#b8e986 100%);
   background: linear-gradient(135deg,  #77c9e4 0%,#b8e986 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77c9e4', endColorstr='#b8e986',GradientType=1 );
 }
 .greyBG {
   background-color: #eee;
 }
 .spinner {
   display: inline-block;
   opacity: 0;
   max-width: 0;
   -webkit-transition: opacity 0.25s, max-width 0.45s;
   -moz-transition: opacity 0.25s, max-width 0.45s;
   -o-transition: opacity 0.25s, max-width 0.45s;
   transition: opacity 0.25s, max-width 0.45s;
 }
 .has-spinner.active {
   cursor:progress;
 }
 .has-spinner.active .spinner {
   opacity: 1;
   max-width: 50px;
   /* More than it will ever come, notice that this affects on animation duration */
 }
 .icon-refresh {
   text-decoration: inherit;
   display: inline-block;
   speak: none;
 }
 .icon-refresh:before {
   content: url('../images/ajax-loader.gif');
 }

.paypal-donate {
  margin-left: 110px;
}

 .bg-green {
   background-color: #98CE00;
 }
 .text-green {
   color: #98CE00;
 }
 .text-white {
   color: white;
 }
 .text-red {
   color: #D0021B;
 }
 /*Colors*/
 .bg-lightblue {
   background: #AFDFEF;
 }
 .text-lightblue {
   color: #AFDFEF;
 }
 .bg-lightgreen {
   background: #D5F3B9;
 }
 .text-lightgreen {
   color: #D5F3B9;
 }
 .bg-lightgrey {
   background: #E8E8E8;
 }
 .text-lightgrey {
   color: #E8E8E8;
 }
 .bg-darkblue {
   background: #77C9E4;
 }
 .text-darkblue {
   color: #77C9E4;
 }
 .bg-darkgreen {
   background: #B8E986;
 }
 .text-darkgreen {
   color: #B8E986;
 }
 .bg-darkgrey {
   background: #A8A8A8;
 }
 .text-darkgrey {
   color: #A8A8A8;
 }

 .naisone {
  margin-top: -6px;
  margin-left: 2px;
  margin-right: 2px;
 }
 /*BS <<<