<!-- Header -->
<div>
  <br>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <img width="150" src="../images/logo.png" alt="">
  </div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <h2 class="text-darkgrey">Billomat Invoice Downloader</h2>
    <br>
    <h4 class="text-darkgrey">A simple utility to download invoices from <a href="http://billomat.com">Billomat</a>.</h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>This utility helps you to download Billomat invoices easy and fast. Currently this is a very slow process when using Billomat. It is free of charge and your data (API key & Billomat ID) is only stored on your client and can be deleted.
  </div>

  <!-- Content -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>
    <br>
    <!-- Input -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <label for="">API Key</label>
      <br>
      <input type="text" class="icon_information" style="width: 300px" placeholder="insert your api key here" ng-model="apikey">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-darkgrey">
      <b>Where do I find my API key?</b> 
      <br>
      <ol>
        <li>Log into your Billomat account</li>
        <li>click on your name (top right)</li>
        <li>check API access</li>
        <li>copy and paste the key</li>
      </ol>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <label for="">Billomat ID</label>
      <br>
      <input type="text" class="icon_information" style="width: 300px" placeholder="insert your billomat id here" ng-model="billomatid">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-darkgrey">
      <b>Where do I find my Billomat ID?</b> 
      <br>When you are logged in to your Billomat account you will see the ID as part of the URL e.g. "superdupercompany.billomat.net". In this example your ID would be "supderdupercompany".
    </div>

    <div class="col-xs-6 col-xs-offset-6 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6 text-darkgrey">
      <br>
      <b>Data Deletion</b>
      <br>If you wish to delete your local data
      <a class="text-red" ng-click="clearStorage()">click here.</a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <br>
      <button class="btn bg-green has-spinner center-block" ng-class="{active: showSpinner}" ng-disabled="showSpinner" ng-click="makeRequest()">
        <span class="spinner"><i class="icon-spin icon-refresh"></i>
        </span>
        <span class="text-white">Get all invoices</span>
      </button>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <!-- Errors, if any -->
      <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

      <!-- Invoice Table -->
      <div class="row marketing">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Invoice No.</th>
              <th>Date</th>
              <th>Customer</th>
              <th>Price</th>
              <th>Status</th>
              <th>Download</th>
              <th>Billomat</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="invoice in result.invoices.invoice" ng-class="{greyBG: invoice.status == 'CANCELED', danger: invoice.status == 'OVERDUE'}">
              <td>{{$index+1}}</td>
              <td>{{invoice.invoice_number }}</td>
              <td>{{invoice.date | date:'mediumDate'}}</td>
              <td>{{invoice.address | truncate:10}}</td>
              <td>{{invoice.total_net | currency:invoice.currency_code}}</td>
              <td>{{invoice.status}}</td>
              <td><a href="{{invoice.downloadlink}}" type="application/octet-stream" download>Download</a>
              </td>
              <td><a href="{{invoice.billomatlink}}" type="application/octet-stream" target="_blank">Link</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div ng-show="noData">
          <p class="text-center text-green">
            No data
          </p>
        </div>
        <!--<div ng-repeat="invoice in invoiceNumbers track by $index | orderBy:invoice ">{{invoice}}</div>-->
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-darkgrey">
      <p class="text-center">
        This utility has been developed by <a href="http://sinther.net">Ben Sinther</a> from <a href="http://naisone.de">naisone</a> in 2014.
      </p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-darkgrey">
      <p class="text-center">You want to support the Billomat Invoice Downloader? Make a donation.
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="paypal-donate">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="GXLGHVAWBTHTU">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
      </p>
    </div>
  </div>
  <!-- end content -->
</div>
<!-- end header -->